*.iml
#.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
#*gradle*
#/.gradle #duplicate
#app/google-services.json #GitGuardian is overprotective:
#https://twitter.com/search?q=firebase%20api%20key%20gitguardian&src=typd


